WBGT_ISOdb.npy
WBGT_ISOdb1.npy
WBGT_LILdb.npy
WBGT_LILdb1.npy
WBT_ISOdb.npy
WBT_ISOdb1.npy
WBT_LILdb.npy
WBT_LILdb1.npy
WBT_PSYdb.npy
WBT_PSYdb1.npy
WBGT_ISOdb.npy
WBGT_ISOdb1.npy
WBGT_LILdb.npy
WBGT_LILdb1.npy
*.npy
*.npy
